<div class="wrapper">
  <h4 class="header">Rejestracja</h4>

  <form [formGroup]="form" class="form">
    <label>
      <input
        type="radio"
        formControlName="accountType"
        value="Pentester"
      />
      Pentester
    </label>

    <label>
      <input
        type="radio"
        formControlName="accountType"
        value="Company"
      />
      Firma
    </label>
  </form>

  @if (form.controls.accountType.value === 'Pentester') {
    <app-pentester-form
      (register)="onRegisterPentester($event)"
    ></app-pentester-form>
  }
  @if (form.controls.accountType.value === 'Company') {
    <app-company-form
      (register)="onRegisterCompany($event)"
    ></app-company-form>
  }

  <app-message
    [request]="request()"
  ></app-message>

  <a [routerLink]="'/auth/login'">Masz już konto? Zaloguj się</a>
</div>
