<div class="wrapper" [class.collapsed]='isSidebarCollapsed()'>
  <nav class="side-bar">
    <img src="/icons/menu.svg" alt="Logo" class="logo" (click)='toogleSidebar()'>
    @if(!isSidebarCollapsed()){
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <a class="nav-link" routerLink="/" routerLinkActive="active">Zlecenia</a>
      <a class="nav-link" routerLink="/" routerLinkActive="active">Raporty</a>
      <a class="nav-link" routerLink="/" routerLinkActive="active">Profil</a>
      <a class="nav-link" routerLink="/" routerLinkActive="active">Ustawienia</a>
    }
  </nav>
  <div class="content">
    <nav class="top-bar">
      Topbar
    </nav>
    <router-outlet></router-outlet>
    <footer class="footer">
        footer
    </footer>
  </div>
</div>
