.wrapper {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 240px auto;

  &.collapsed {
    grid-template-columns: 60px auto;
  }
}

.side-bar{
  background-color: var(--color-surface);
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  .logo {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.content {
  display: grid;
  grid-template-rows: 64px 1fr auto;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md);
  background-color: var(--color-surface-secondary);

  img{
    width: 25px;
    height: 25px;
  }
}

.search {
  display: flex;
  align-items: center;

  width: 300px;
  padding: var(--space-xs) var(--space-md);

  border-radius: var(--border-radius-m);
  background: var(--color-surface);

  gap: 8px;
}

.search input {
  flex: 1;

  border: none;
  outline: none;

  background: transparent;
}

.search img {
  width: 20px;
  height: 20px;

  cursor: pointer;
}
.user-menu {
  max-width: 150px;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
