
<div class="card" [routerLink]="route()">
  <div class="header">
    <span class="title">
      {{ title() }}
    </span>

    @if(status() == 'Accepted'){
    <ui-badge
      variant="success"
      [text]="status()"
    />
    }
    @if(status() == 'Pending'){
    <ui-badge
      variant="pending"
      [text]="status()"
    />
    }
    @if(status() == 'Rejected'){
    <ui-badge
      variant="rejected"
      [text]="status()"
    />
    }
  </div>

  <div class="content">
    <span>
      Budżet:
      {{ maxBudget() | plnCurrency }}
    </span>

    <span class='date'>
      Aplikowano:
      {{ appliedAt() | date: 'yyyy/MM/dd' }}
    </span>
  </div>
</div>
