@let c = contract();
<div class="card">
  <div class="header">
    <span class='title'>{{ c.title }}</span>
    <div class="actions">
      <ui-badge [variant]="variant()" [text]="c.contractStatus"/>
      @if(c.contractStatus == "Open"){
      <button class="app-button btn-edit" (click)="onEdit($event)">
        Edytuj
      </button>
      <button class="app-button btn-delete" (click)="onDelete($event)">
        Anuluj
      </button>
      }
    </div>
  </div>
  <div class="content">
    <button class='app-button toggle-details' (click)="toggleDetails()">
      {{ isExpended() ? "▼ Szczegóły" : "▶ Szczegóły"}}
    </button>
    @if(isExpended()){
      <span class='description'>{{ c.description }}</span>
    }
    <div class="budget-details">
      <span class="price">Cena za request {{ c.pricePerRequest | plnCurrency  }}</span>
      <span class='price'>Ilośc requestów {{  c.maxRequests }} (szt.)</span>
      <span class='price'><strong>Budżet {{ c.maxBudget | plnCurrency }}</strong></span>
    </div>
    <div class="details">
      <div class="left">
        @if(c.contractStatus == "Open"){
          <button class='app-button application' [routerLink]="`${c.contractId}/applications`">Aplikacje <strong>({{c.numberOfApplications }}) </strong></button>
        }
        @if(c.contractStatus == "InProgress"){
          <button class='app-button requests' [routerLink]="`${c.contractId}/requests/create`">Dodaj Requesty</button> <i>Aby pentester mógł pracować nad tym zleceniem należy utworzyć wszystkie requesty</i>
        }
      </div>
      <div class="date right">
        <span>Data utworzenia ogłoszenia: {{c.createdAt | date: 'yyyy/MM/dd'}}</span>
        <span>Data wygaśnięcia ogłoszenia: {{c.deadline | date: 'yyyy/MM/dd'}}</span>
      </div>
    </div>
  </div>
</div>
