.wrapper {
  width: 100%;
  padding: var(--space-lg);

  display: flex;
  flex-direction: column;
}

h4 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--space-lg);
}

.card {
  width: 100%;
  padding: var(--space-md);
  border-radius: var(--border-radius-l);
  background-color: var(--color-surface-tertiary);

  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &:hover{
    opacity: .9;
    border-color: var(--color-text);
    box-shadow: 4px 4px 16px var(--color-text);
  }
}

label {
  padding: var(--space-xs) 0;
}
.description {
  min-height: 150px;
  resize: vertical;
}
.price {
  max-width: 150px;
  text-align: center;
}

.save {
  align-self: center;
  max-width: 150px;
}
