.wrapper {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 240px auto;

  &.collapsed {
    grid-template-columns: 60px auto;
  }
}

.side-bar{
  background-color: var(--color-surface);
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  .logo {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.content {
  display: grid;
  grid-template-rows: 64px 1fr auto;
}

.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md);
  background-color: var(--color-surface-secondary);

  img{
    width: 25px;
  }
}

.user-menu {
  max-width: 150px;
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
