.card {
  min-height: 150px;
  width: 100%;
  padding: var(--space-md);
  border-radius: var(--border-radius-l);
  background-color: var(--color-surface-tertiary);
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  &:hover{
    opacity: .9;
    box-shadow: 4px 4px 16px var(--color-surface)
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-sm);
}

.title {
  font-weight: 700;
  font-size: var(--font-size-xl);
}

.description {
  white-space: pre-line;
  max-height: 200px;
  overflow-y: auto;
  padding-right: var(--space-lg);
}
.price {
  font-weight: 400;
  font-style: italic;
}

.applied {
  border-left: 3px solid var(--color-success);
}

.status {
  padding: var(--space-xs) var(--space-sm);
  border-radius: 999px;

  font-size: var(--font-size-sm);
  font-weight: 600;

  background: var(--success-bg);
  color:  var(--success-txt);
}

@media (max-width: 768px) {
  .title {
    font-size: var(--font-size-md);
  }
  .header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 740px) {
  .applied{
    border: none
  }
}
